.element__delete {
  position: absolute;
  margin-top: 20px;
  margin-left: 245px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.element__delete:hover {
  opacity: .6;
}